@font-face {
  font-family: 'iconfont'; /* Project id 4788066 */
  src:
    url('iconfont.woff2?t=1734605350648') format('woff2'),
    url('iconfont.woff?t=1734605350648') format('woff'),
    url('iconfont.ttf?t=1734605350648') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinghaoguanli:before {
  content: '\e604';
}

.icon-00-baojingjilu-05-05:before {
  content: '\e63c';
}

.icon-xunjianshujujilu:before {
  content: '\e626';
}

.icon-xuanzhuan-2:before {
  content: '\e69a';
}

.icon-xuanzhuan-1:before {
  content: '\e69b';
}

.icon-zhoucheng:before {
  content: '\e654';
}

.icon-yonghu:before {
  content: '\e640';
}

.icon-xitong:before {
  content: '\e621';
}

.icon-cujiantou:before {
  content: '\e600';
}

.icon-cujiantou-left-copy:before {
  content: '\e601';
}

.icon-cujiantou-right-copy:before {
  content: '\e602';
}

.icon-cujiantou-below:before {
  content: '\e603';
}

.icon-gongweishebei:before {
  content: '\e6df';
}

.icon-jixiebi:before {
  content: '\e731';
}
